@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

@layer components {
    input::-ms-reveal,
    input::-ms-clear {
        display: none;
    }

    input::-webkit-contacts-auto-fill-button,
    input::-webkit-credentials-auto-fill-button {
        display: none;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .customInput:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #FF6F00 inset !important; 
        box-shadow: 0 0 0 1000px #FF6F00 inset !important;
        -webkit-text-fill-color: black !important;
        border: 3px solid #000 !important;
    }

    .customInput2:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
        box-shadow: 0 0 0 1000px #000 inset !important;
        -webkit-text-fill-color: white !important;
        border: 2px solid #ffff !important;
    }


    .scrollbar-custom::-webkit-scrollbar {
        width: 5px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: #1f1f1f;
        border-radius: 4px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 4px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: #d97706;
    }

    .loader {
        display: flex;
        align-content: center;
        justify-content: center;
        --b: 8px;
        border-radius: 50%;
        padding: 1px;
        background: conic-gradient(#0000 10%, #f03355) content-box;
        -webkit-mask:
            repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
            radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
        -webkit-mask-composite: destination-in;
                mask-composite: intersect;
        animation: l4 1s infinite steps(10);
    }

    @keyframes l4 {
        to {
            transform: rotate(1turn);
        }
    }

    /* HTML: <div class="loader"></div> */
    .loader2 {
        width: 60px;
        aspect-ratio: 2;
        --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
        background: 
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
        background-size: calc(100%/3) 50%;
        animation: l3 1s infinite linear;
    }

    @keyframes l3 {
        20%{background-position:0%   0%, 50%  50%,100%  50%}
        40%{background-position:0% 100%, 50%   0%,100%  50%}
        60%{background-position:0%  50%, 50% 100%,100%   0%}
        80%{background-position:0%  50%, 50%  50%,100% 100%}
    }

    /* HTML: <div class="loader"></div> */
    .loader3 {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: 
            radial-gradient(farthest-side,#000 94%,#0000) top/8px 8px no-repeat,
            conic-gradient(#0000 30%,#000);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
        animation: l13 1s infinite linear;
    }

    @keyframes l13{ 
        100%{transform: rotate(1turn)}
    }
    
    .animate-pulse {
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
    }

    @keyframes pulse {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }

}


